{% extends 'base.html' %}

{% block title %} new post {% endblock %}
{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/simplemde.min.css')}}">
{% endblock %}
{% block siteheading %} New Post {% endblock %}
{% block subheading %} Try to write in markdown {% endblock %}
{% block bg %}
<header class="masthead" style="background-image: url('{{ url_for('static',filename='img/home-bg.jpg')}}')">
{% endblock %}
{% block content %}


<form method='post' class='form' role='form'>
      <div class="form-group " style="padding:0px 40px 0px 40px">
        <input class="form-control" id="post_title" name="post_title" type="text" value="" placeholder="タイトル">
      </div>
      <div class="form-group" style="padding:10px 40px 0px 40px">
        <textarea id="markdown" name="post_content"></textarea>
      </div>
      <div>
        <input class='btn btn-defaul' id='publish' name='publish' type='submit' value='Publish' style="padding: 0px 40px 0px 40px;">
      </div>
    </form>

<script src="{{url_for('static',filename='js/simplemde.min.js')}}"></script>
<script>
    var simplemde = new SimpleMDE({ element: document.getElementById("markdown") });
</script>
{% endblock %}
